body {
    margin-left: 1%;
    margin-right: 1%;
    background: rgb(251, 253, 246);
}
li {
    padding: 0px;
    display: block;
}

.left_li {
    list-style-type: none;
    text-align: left;
    width: 100%;
}
.left_li a{
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    color: #333;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}
.left_li a:hover{
    color: #fff;
    text-decoration: none;
}
.left_li:hover {
    background: #777777;
    color: #fff;
}
.right_li {
    list-style-type: none;
    text-align: left;
    width: 100%;
    color: #900b09;
}
.right_li a{
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    color: #900b09;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}
.right_li a:hover {
    color: #fff;
    text-decoration: none;
}
.right_li:hover {
    background: #900b09;
    color: #fff;
}
ul {
    margin: 0px;
    padding-left: 0px;
}

.my_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin-bottom: 20px;
}
.my_header_item {
    flex-direction: row;
}
.my_header_image {
    border-bottom: 5px solid transparent;
}
.my_header_image:hover {
    border-bottom: 5px solid #900b09;
}


.my_navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav_item {
    background: transparent;
    flex-direction: row;
    text-align: center;
}
.nav_item .a {
    display: flex;
    display: block;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
}
.nav_item .a:hover {
    background: #929292;
    color: #fff;
    text-decoration: none;
}

@media (max-width: 870px){ 
    .my_content_left{ 
        display:none; 
    }
    .my_content_right{ 
        display:none; 
    }
} 
.my_content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.my_content_left {
    width: 180px;
    border-left: 2px solid rgba(150, 150, 150, 0.5);
    border-right: 2px solid rgba(150, 150, 150, 0.5);
}
.my_content_center {
    flex-grow: 1;
    border-bottom: 2px solid rgba(150, 150, 150, 0.5);
}
.center_1 {
    border-bottom: 2px solid rgba(150, 150, 150, 0.5);
}
.my_content_right {
    width: 180px;
    border-left: 2px solid rgba(150, 150, 150, 0.5);
    border-right: 2px solid rgba(150, 150, 150, 0.5);

}
.content{
    /*float: left;*/
    background: transparent;
    width: 810px;
	margin: 0 0 0 0;
	padding: 30px 0 0 0;
    border:0;
    /*text-align:center;*/
}
.content h2{	
    margin-top:35px;
	font-size:24px;
}
.content h3{
    margin-left:110px;
	font-size:24px;
}
.content p {
	font-size:16px;
}
.content.part {
    padding: 0 0 30 0;
    min-height: 118px;
    border-bottom: 1px solid #aaa;
}
.content.part.bk{
    text-align:center;
}
.content.part.bk1 {
    background : transparent url(image/icon2.png) 0 0 no-repeat;
}

.content.part.pt1 {
    background : transparent url(image/icon2.png) 0 0 no-repeat;
    border-bottom: 0;
}
.content a{
    text-decoration: none;
}
.content a:hover{
    text-decoration: none;
}

.content u{
    border-bottom: 1px solid #900b09;
    padding-bottom: 1px;
    color: #000;
    text-decoration: none;
}
.content u:hover{
    border-bottom: 1px solid #ff0000;;
    padding-bottom: 1px;
    color: #000;
    text-decoration: none;
}
.content.part h3{
    margin-left:110px;
	font-size:24px;
}
.content.part.bk1 p{
    margin-left:110px;
	font-size:16px;
}
.content.part.pt1 p{
    margin-left:110px;
	font-size:16px;
}
.content.part.bk2 {
    float: left;
    background: transparent url(image/icon9.png) top left no-repeat;
    margin-left: 33px;
    margin-top: 15px;
    width:290px;
    padding-top: 13px;
    border-bottom: 0;
}

.content.part.bk2 h3{
    font-size:15px;
	margin: 10px 0 0 62px;
	color:#777;
	
}
.content.part.bk2 a{
    font-size:15px;
	margin: 23px 0 0 62px;
}
.content.part.bk3 {
    float: right;
    background: transparent url(image/icon9.png) top left no-repeat;
    margin-left: 33px;
    margin-top: 15px;
    width:299px;
    padding-top: 13px;
    border-bottom: 0;
}
.content.part.bk3 h3{
    font-size:15px;
	margin: 10px 0 0 58px;
	color:#777;
}
.content.part.bk3 a{
    color:#000;
    font-size:15px;
	margin: 23px 0 0 58px;
}
.footer{
	clear: both;
	padding-top: 16px;
	background: #f0f0f0;
	border-top: 0px solid #fff;
	background: #fdfcf8 url(image/footer.png) top left repeat-x;
    font-family:PingFangSC-Regular, '微软雅黑', Verdana, Arial, '宋体';
}

#p1{
	font-size:12px;
    color:#777777;
    margin: 0;
	text-align:center;
	/* background: transparent url(image/alert.png) no-repeat; */
	background-position:400px 0px;
}

#p2{
	margin: 30px 0 30px 0;
	font-size:14px;
	text-align:center;
	color:#777777;
}
